<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

  <xacro:arg name="bus_config"        default=""/>
  <xacro:arg name="master_config"     default=""/>
  <xacro:arg name="master_bin"        default=""/>
  <xacro:arg name="can_interface_name" default="can0"/>

  <!-- Robot geometry and kinematics (unchanged from sim) -->
  <xacro:include filename="$(find robot_description)/urdf/robot.urdf.xacro"/>

  <!-- Hardware ros2_control block (replaces the mock FakeSystem from moveit_config) -->
  <xacro:include filename="$(find motor_bringup)/config/robot.ros2_control.hardware.xacro"/>

  <xacro:robot_ros2_control_hardware
    name="agrobot"
    bus_config="$(arg bus_config)"
    master_config="$(arg master_config)"
    master_bin="$(arg master_bin)"
    can_interface_name="$(arg can_interface_name)"/>

</robot>
